* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(42, 29, 155);
  }
  
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  
  form{
      background-color: rgb(11, 16, 49);
      padding: 0px 60px;
      border-radius: 15px;
  }
  
  h1{
      color: rgb(120, 122, 194);
      text-align: center;
      margin-top: 30px;
      margin-bottom: 25px;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rgb(102, 115, 202);
      color: white;
      border-radius: 10px;
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
      margin-top: 35px;
      margin-bottom: 40px;
  }
  
  
  /**********************/
  
  .formInput{
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgb(35, 14, 98);
  }
  
  
  label{
    font-size: 20px;
    color: rgb(108, 104, 213);
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  span{
    font-size: 15px;
    padding: 3px;
    color: rgb(255, 0, 0);
    display: none;
  }
  
  input:invalid[focused="true"]{
    border: 1px solid rgb(21, 164, 71);
  }
  
  input:invalid[focused="true"] ~ span{
    display: block;
  }